

@media only screen and (min-width :200px) and (max-width:575px) {

    .nav li{
        align-items: center;
    }

    .logo{
        margin: 0%;
        padding: 0%;
    }
    
    .com {
        
        position: fixed;
        background-image: linear-gradient(to right,rgb(6, 114, 15) ,rgb(10, 76, 20));
        height: 100vh;
        width: 190px;
        flex-direction: column;
        top:0;
        right:-190px;
        margin: 0%;
        padding: 0%;
        text-align: center;
        justify-content: center;
        transition: 0.9s;
        z-index: 999;
        
    }
    .menu{
        display: block;
        z-index: 999;
        background: transparent;
    }
    .com.active{
        right:0;
    }
    .blur{
        filter: blur(4px);
    }
    .com ul{
        margin: 15px;
    }
    .ohk{
        width:200px ;
    }

    .center{
        background-size: cover;
    }

    .main{
        margin-top: 50px;
    }

    .hi{
        margin-bottom: 50px;
    }


    .btn{
        margin-top: 50px;
 
   }

   .ca{
    width: 300px;
   }

   .ca .submit{
    width: 230px;
   }

   .ca #input1{
        width: 230px;
   }
   .ca #passwd1{
        width: 230px;
   }
   .ca #same{
        width: 230px;
   }
}





@media only screen and (min-width :576px) and (max-width:991px) {

    .main{
        margin-top: 50px;
    }

    .hi{
        margin-bottom: 50px;
    }


    .btn{
        margin-top: 50px;
 
   }
    
}
